.about {
    &-header {
        background-color: #072845ef;
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }
    &-main {
        padding: 20px;
    }
}
  section {
    margin-bottom: 30px;
    h2 {
        color: #072845ef;
        margin-bottom: 10px;
    }
    ul, ol {
        margin-left: 20px;
    }
    li {
        margin-bottom: 10px;
    }
  }