@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  // --primary: #E50914; /* text za naslove */
  // --secondary: rgba(24, 22, 22, 0.804); /* background */

  --primary: #072845ef;
  --primaryHover: #072845b9;
  --secondary: #fff;
  color: var(--primary);


  --font-roboto: "Roboto Slab", serif; /* for titles */
  --font-raleway: "Raleway", sans-serif; /* for text */

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--secondary);
  // color: var(--primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}